{% extends 'base.html' %}
{% block title %}编辑入库单信息{% endblock %}
{% block content %}
<form action='.' method="POST">
    ...
    {% csrf_token %}
    {{ form.as_p }}

    {% for formset in inlines %}
        <hr>
        <h5>
            {% if formset.instance.id %}
              Code: {{ book_formset.instance.code }}
            {% else %}
              {% if formset.length > 1 %}
                Add another book
              {% else %}
                Add a book
              {% endif %}
            {% endif %}
          </h5>
        <table>
            {{ formset.as_table }}
        </table>
    {% endfor %}
    <hr>
    <p>
        <button type="submit" value="Update Stockin" class="btn btn-primary w-100 mb-3">Update Collection</button>
        <a href="{{ object.get_absolute_url }}" role="button" class="btn btn-secondary w-100">Cancel</a>
    </p>
</form>

{% endblock %}
