{% extends 'base.html' %}
{% block title %}入库单详情{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>入库单号: {{ object.code }}</h3>
    <hr>
        {% for detail in object.details.all %}
        <div class="small">{{ detail.item.name }}-{{ detail.barcode_count }} {{ detail.item.unit.name }}({{ detail.list_barcodes }})</div>
        <hr>
        {% endfor %}
    <p>
        <a href="{{ object.get_update_url }}" role="button" class="btn btn-primary w-100 mb-2">Update</a>
        <a href="{{ object.get_delete_url }}" role="button" class="btn btn-secondary w-100 mb-2">Delete</a>
        <a href="{% url 'stock:stockin-list' %}" role="button" class="btn btn-info w-100">Back</a>
    </p>
{% endblock %}
