{% extends 'base.html' %}
{% block title %}返回单详情{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>返回单号：{{ object.code }}</h3>
    <hr>
        {% for detail in object.details.all %}
        <div class="small">{{ detail.barcode }}</div>
        <hr>
        {% endfor %}
    <p>
        {% if not object.confirmed %}
        <a href="{{ object.get_update_url }}" role="button" class="btn btn-primary w-100 mb-2">Update</a>
        <a href="{{ object.get_confirm_url }}" role="button" class="btn btn-success w-100 mb-2">Confirm</a>
        <a href="{{ object.get_delete_url }}" role="button" class="btn btn-secondary w-100 mb-2">Delete</a>
        {% else %}
        <a target="_blank" href="{{ object.get_pdf_url }}" role="button" class="btn btn-primary w-100 mb-2">Print</a>
        {% endif %}
        <a href="{% url 'stock:stockback-list' %}" role="button" class="btn btn-info w-100">Back</a>
    </p>
{% endblock %}
